<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbCfwmCjAt5tN6xLQP9rVDMGClu4r2ziA</string>
	<key>GCM_SENDER_ID</key>
	<string>202094225926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.society.societyManagement</string>
	<key>PROJECT_ID</key>
	<string>society-management-app-a808b</string>
	<key>STORAGE_BUCKET</key>
	<string>society-management-app-a808b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:202094225926:ios:15bcef935700116e14b187</string>
</dict>
</plist>
